{% extends "layout.html" %}

{% block title%} Payment list{% endblock%}


{% block content%} 

<h1 class="text-center">Payments</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{{ url_for('payments.create_form') }}" class="btn btn-primary">
        Create Payement
    </a>
</div>

<!-- Search form -->
<div class="card mb-4">
    
    <div class="card-header">
        <h6 class="mb-0">Filter</h6>
    </div>
    <div class="card-body ">
        <form method="GET" action="{{ url_for('payments.index') }}" class="form-inline flex-wrap justify-content-center">


            <div class="form-group d-flex align-items-center mb-3 mr-3">
                <label for="payment_type" class="mr-2 mb-0">Payment type:</label>
                <select id="payment_type" name="payment_type" class="form-control form-control-sm" onchange="toggleFilters()">
                    <option value="" {% if request.args.get('payment_type') == '' %}selected{% endif %}>All</option>
                    <option value="Salary" {% if request.args.get('payment_type') == 'Salary' %}selected{% endif %}>Salary</option>
                    <option value="Bonus" {% if request.args.get('payment_type') == 'Bonus' %}selected{% endif %}>Bonus</option>
                    <option value="Expense" {% if request.args.get('payment_type') == 'Expense' %}selected{% endif %}>Expense</option>
                </select>
            </div>
           
            <div id="email_container" class="form-group d-flex  align-items-center mb-3 mr-3" >

                <label for="email_input" class="mr-2 mb-0">Email:</label>
                <input id="email_input" type="text" name="email_employee" 
                        placeholder="Email employee" 
                        class="form-control form-control-sm" 
                        value="{{ request.args.get('email_employee', '') }}">
            </div>

            <div id="dni_container" class="form-group d-flex  align-items-center mb-3 mr-3" >

                <label for="dni_input" class="mr-2 mb-0">Dni:</label>
                <input  id="dni_input" type="text" name="dni" 
                            placeholder="DNI " 
                            class="form-control form-control-sm" 
                            value="{{ request.args.get('dni', '') }}">
            </div>
            
            <button type="submit" class="btn btn-primary mb-3">Search</button>
            <button type="button" class="btn btn-secondary mb-3 ml-2" onclick="resetFilters()">Clean filters</button>
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            
            <th>Date
                <a href="{{ url_for('payments.index', sort_by='date', sort_order='asc', payment_type=request.args.get('payment_type'), email=request.args.get('email_employee'), dni=request.args.get('dni'), pag=1)}}">
                    <i class="fas fa-arrow-up text-secondary"></i>
                </a>
                <a href="{{ url_for('payments.index', sort_by='date', sort_order='desc', payment_type=request.args.get('payment_type'), email=request.args.get('email_employee'), dni=request.args.get('dni'), pag=1) }}">
                    <i class="fas fa-arrow-down text-secondary"></i>
                </a>

            </th>
            <th>Payment type
                <a href="{{ url_for('payments.index', sort_by='payment_type', sort_order='asc', payment_type=request.args.get('payment_type'), email=request.args.get('email_employee'), dni=request.args.get('dni'), pag=1)}}">
                    <i class="fas fa-arrow-up text-secondary"></i>
                </a>
                <a href="{{ url_for('payments.index', sort_by='payment_type', sort_order='desc', payment_type=request.args.get('payment_type'), email=request.args.get('email_employee'), dni=request.args.get('dni'), pag=1) }}">
                    <i class="fas fa-arrow-down text-secondary"></i>
                </a>
            </th>
            <th>Amount</th>
            <th>Employee name</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items['payments'] %}
        <tr>
            <td>{{ item['payment'].date }}</td>
            <td>{{ item['payment'].payment_type }}</td>
            <td>{{ item['payment'].amount }}</td>
            <td>{%if item['employee_name'] is not none %} {{ item['employee_name'] }} {% else %} - {%endif%}</td>
            <td>
                
                <a href="{{ url_for('payments.view_payment', payment_id = item['payment'].id) }}" class="btn btn-success btn-sm">More info</a>
    
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-between">
    <div>
        {% if items.has_prev %}
            <a href="{{ url_for('payments.index', pag=items.prev_num,  payment_type=request.args.get('payment_type'), 
                                                                    email=request.args.get('email_employee'), 
                                                                    dni=request.args.get('dni'), 
                                                                    sort_by=request.args.get('sort_by', 'email'), 
                                                                    sort_order=request.args.get('sort_order', 'asc')) }}" 
                                                                    class="btn btn-secondary">Previous</a>
        {% endif %}
    </div>
    <div>Page {{ items.page }} of {{ items.pages }} (Total items: {{ items.total }})</div>
    <div>
        {% if items.has_next %}
            <a href="{{ url_for('payments.index', pag=items.next_num,  payment_type=request.args.get('payment_type'),
                                                                     email=request.args.get('email_employee'), 
                                                                     dni=request.args.get('dni'), 
                                                                      sort_by=request.args.get('sort_by', 'email'), 
                                                                      sort_order=request.args.get('sort_order', 'asc')) }}" 
                                                                      class="btn btn-secondary">Next</a>
        {% endif %}
    </div>
    
</div>

<script>
    function resetFilters() {

        document.querySelector('select[name="payment_type"]').value = '';
        document.querySelector('input[name="email_employee"]').value = '';
        document.querySelector('input[name="dni"]').value = '';

        document.querySelector('form').submit();
    }


  function toggleFilters() {
    const selected = document.getElementById('payment_type').value;
    console.log('Selected:', selected);

    const dniContainer = document.getElementById('dni_container');
    const emailContainer = document.getElementById('email_container');

    if (selected === 'Expense' ) {
        dniContainer.style.setProperty("display", "none", "important");
        emailContainer.style.setProperty("display", "none", "important");
    } else {
        dniContainer.style.setProperty("display", "flex", "important");
        emailContainer.style.setProperty("display", "flex", "important");
    }
  }

  window.onload = function () {
        toggleFilters();  
    };
</script>




{% endblock%}